.gitignore
assets/music/Rush E by Sheet Music Boss.mp3
assets/music/Megalovania by Toby Fox.ogg
assets/tilesheet.png~
a.out
compression.cpp
Level Editor
optimizatonStrategies
Platformer
script
levels/Level